.librarian-database,
.librarian-database * {
  box-sizing: border-box;
}
.librarian-database {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 1440px;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.navbar-area {
  flex-shrink: 0;
  width: 1440px;
  height: 112px;
  position: relative;
}
.navbar-area2 {
  background: #ffffff;
  width: 1440px;
  height: 112px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.navbar {
  width: 1121px;
  height: 81px;
  position: absolute;
  left: 160px;
  top: 16px;
}
.navbar2 {
  background: #ffffff;
  width: 1119px;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 0px;
}
.navbar-right {
  width: 361px;
  height: 81px;
  position: absolute;
  left: 760px;
  top: 0px;
}
.navbar-right2 {
  background: rgba(192, 236, 255, 0.22);
  width: 359px;
  height: 80px;
  position: absolute;
  left: 1px;
  top: 0px;
}
.navbar-account {
  width: 96px;
  height: 81px;
  position: absolute;
  left: 265px;
  top: 0px;
}
.navbar-account2 {
  background: rgba(147, 177, 187, 0.12);
  width: 96px;
  height: 81px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.account-icon {
  background: #d9d9d9;
  border-radius: 50%;
  width: 79px;
  height: 79px;
  position: absolute;
  left: 9px;
  top: 1px;
}
.account-icon-container {
  border-radius: 50%;
  border-style: solid;
  border-color: #828282;
  border-width: 1px;
  width: 79px;
  height: 80px;
  position: absolute;
  left: 9px;
  top: 1px;
}
.navbar-liase {
  width: 98px;
  height: 81px;
  position: absolute;
  left: 132px;
  top: 0px;
}
.navbar-liase2 {
  background: rgba(147, 177, 187, 0.12);
  width: 98px;
  height: 81px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.liase {
  color: #000000;
  text-align: center;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: 0px;
  top: 26px;
  width: 98px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-database {
  width: 95px;
  height: 81px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar-database2 {
  background: rgba(147, 177, 187, 0.12);
  width: 95px;
  height: 81px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.database {
  color: #000000;
  text-align: center;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: 1px;
  top: 25px;
  width: 94px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-center {
  width: 361px;
  height: 80px;
  position: absolute;
  left: 380px;
  top: 0px;
}
.navbar-center2 {
  background: rgba(192, 236, 255, 0.2);
  width: 361px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.site-tile {
  width: 343px;
  height: 80px;
  position: absolute;
  left: 10px;
  top: 0px;
}
.navbar-site-title {
  background: rgba(147, 177, 187, 0.12);
  width: 343px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.library-app {
  color: #000000;
  text-align: center;
  font: 400 41px "Inter", sans-serif;
  position: absolute;
  right: 15px;
  top: 5px;
  width: 315px;
  height: 71px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-left {
  width: 360px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar-left2 {
  background: rgba(192, 236, 255, 0.14);
  width: 360px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar-verify {
  width: 98px;
  height: 80px;
  position: absolute;
  left: 264px;
  top: 0px;
}
.navbar-verify2 {
  background: rgba(147, 177, 187, 0.22);
  width: 95px;
  height: 80px;
  position: absolute;
  left: 1px;
  top: 0px;
}
.verify {
  color: #000000;
  text-align: center;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: 0px;
  top: 26px;
  width: 98px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-home {
  width: 98px;
  height: 80px;
  position: absolute;
  left: 133px;
  top: 0px;
}
.navbar-home2 {
  background: rgba(147, 177, 187, 0.14);
  width: 98px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.home {
  color: #000000;
  text-align: center;
  font: 400 15px "Inter", sans-serif;
  position: absolute;
  left: 0px;
  top: 26px;
  width: 98px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-menu {
  width: 95px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.navbar-menu2 {
  background: rgba(147, 177, 187, 0.12);
  width: 95px;
  height: 80px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.hamburger-menu {
  background: #d9d9d9;
  width: 71px;
  height: 71px;
  position: absolute;
  left: 12px;
  top: 5px;
}
.rectangle-30 {
  width: 71px;
  height: 71px;
  position: absolute;
  left: 12px;
  top: 5px;
}
.body-container {
  flex-shrink: 0;
  width: 1440px;
  height: 912px;
  position: relative;
}
.body-container2 {
  background: rgba(33, 4, 4, 0.19);
  width: 1440px;
  height: 912px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: inset -1px -1px 15px 2px rgba(0, 0, 0, 1);
  filter: blur(8px);
}
.body-display {
  width: 1120px;
  height: 728px;
  position: absolute;
  left: 160px;
  top: 92px;
}
.body-display2 {
  background: #cccccc;
  width: 1120px;
  height: 728px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.content-layer {
  width: 1100px;
  height: 708px;
  position: absolute;
  left: 10px;
  top: 10px;
}
.content-layer2 {
  background: #d5caca;
  width: 1100px;
  height: 708px;
  position: absolute;
  left: 0px;
  top: 0px;
  filter: blur(2px);
}
.controls {
  width: 324px;
  height: 233px;
  position: absolute;
  left: 750.75px;
  top: 455px;
}
.controls2 {
  background: #ffffff;
  border-radius: 34px;
  width: 324px;
  height: 233px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.submit-button {
  background: #d9d9d9;
  width: 142px;
  height: 32px;
  position: absolute;
  left: 162.81px;
  top: 178.09px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.submit {
  color: #000000;
  text-align: center;
  font: 400 20px "Inter", sans-serif;
  position: absolute;
  left: 168.81px;
  top: 182.09px;
  width: 130px;
  height: 25px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.record-key-entry {
  background: #d9d9d9;
  width: 285px;
  height: 31px;
  position: absolute;
  left: 23.07px;
  top: 137.94px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.control-type-comnand-dropdown {
  background: #d9d9d9;
  width: 145px;
  height: 37px;
  position: absolute;
  left: 93.14px;
  top: 90.94px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.type {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 108.21px;
  top: 60.94px;
  width: 115px;
  height: 22px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.controls3 {
  color: #000000;
  text-align: center;
  font: 400 32px "Inter", sans-serif;
  position: absolute;
  left: 68.39px;
  top: 22.98px;
  width: 181px;
  height: 26px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search {
  width: 325.01px;
  height: 146.01px;
  position: absolute;
  left: 1075.39px;
  top: 439.01px;
  transform-origin: 0 0;
  transform: rotate(-180deg) scale(1, 1);
}
.search2 {
  background: #ffffff;
  border-radius: 7px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.17);
  border-width: 2px;
  width: 325px;
  height: 146px;
  position: absolute;
  left: 325px;
  top: 146.01px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform-origin: 0 0;
  transform: rotate(-179.998deg) scale(1, 1);
}
.submit-button2 {
  background: #d9d9d9;
  width: 109px;
  height: 23px;
  position: absolute;
  left: 150.39px;
  top: 43.01px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
}
.submit2 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 150.39px;
  top: 41.01px;
  width: 109px;
  height: 19px;
  transform-origin: 0 0;
  transform: rotate(180deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-key-type-dropdown {
  background: #d9d9d9;
  width: 151px;
  height: 22px;
  position: absolute;
  left: 191.38px;
  top: 102.01px;
  transform-origin: 0 0;
  transform: rotate(-179.998deg) scale(1, 1);
}
.record-key-entry2 {
  background: #d9d9d9;
  width: 255px;
  height: 24.47px;
  position: absolute;
  left: 295.38px;
  top: 73.01px;
  transform-origin: 0 0;
  transform: rotate(-179.998deg) scale(1, 1);
}
.type2 {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 277.38px;
  top: 98.01px;
  width: 82.86px;
  height: 13px;
  transform-origin: 0 0;
  transform: rotate(-179.998deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.search3 {
  color: #000000;
  text-align: center;
  font: 400 32px "Inter", sans-serif;
  position: absolute;
  left: 255.84px;
  top: 133.01px;
  width: 187px;
  height: 15px;
  transform-origin: 0 0;
  transform: rotate(-179.998deg) scale(1, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-display {
  width: 324px;
  height: 233px;
  position: absolute;
  left: 750px;
  top: 30px;
}
.loan-total-summary {
  background: #ffffff;
  border-radius: 24px 14px 7px 0px;
  width: 324px;
  height: 233px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 4px 6px 6px rgba(0, 0, 0, 0.14);
}
.account-details {
  color: #000000;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 190px;
  top: 24px;
  width: 124px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.email-alerts-and-queries {
  background: #d9d9d9;
  border-radius: 0px 0px 27px 0px;
  width: 124px;
  height: 111px;
  position: absolute;
  left: 190px;
  top: 58px;
}
.profile-image {
  background: #d9d9d9;
  width: 145px;
  height: 145px;
  position: absolute;
  left: 25px;
  top: 24px;
}
.admin-name-display {
  background: #d9d9d9;
  width: 145px;
  height: 32px;
  position: absolute;
  left: 25px;
  top: 178px;
}
.name-surname {
  color: #000000;
  text-align: center;
  font: 400 11px "Inter", sans-serif;
  position: absolute;
  left: 43px;
  top: 187px;
  width: 109px;
  height: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.database-table-interface {
  width: 690px;
  height: 659px;
  position: absolute;
  left: 40px;
  top: 29px;
}
.database-table-area {
  width: 615px;
  height: 568px;
  position: absolute;
  left: 0px;
  top: 91px;
}
.database-table-area2 {
  background: rgba(255, 255, 255, 0.4);
  border-radius: 26px 26px 64px 22px;
  width: 615px;
  height: 568px;
  position: absolute;
  left: 0px;
  top: 0px;
  box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.14);
}
.table-header {
  width: 615px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.table-header2 {
  background: #027bce;
  border-radius: 25px 25px 25px 0px;
  width: 615px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.database-name {
  color: #ffffff;
  text-align: center;
  font: 400 16px "Inter", sans-serif;
  position: absolute;
  left: 187px;
  top: 10px;
  width: 241px;
  height: 33px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.table-display {
  width: 615px;
  height: 514px;
  position: absolute;
  left: 0px;
  top: 54px;
}
.table-display2 {
  background: #d9d9d9;
  border-radius: 0px 0px 64px 22px;
  width: 615px;
  height: 514px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.table-name-buttons {
  width: 615px;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.database-selection-buttons {
  background: #027bce;
  border-radius: 25px;
  width: 615px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 1px;
}
.current-table-button-display {
  background: rgba(217, 217, 217, 0.63);
  width: 565px;
  height: 54px;
  position: absolute;
  left: 25px;
  top: 1px;
}
.frame-91 {
  width: 25px;
  height: 54px;
  position: absolute;
  left: 590px;
  top: 1px;
}
.right-button {
  background: rgba(128, 80, 80, 0.51);
  border-radius: 0px 40px 40px 0px;
  width: 25px;
  height: 54px;
  position: absolute;
  left: 0px;
  top: 0px;
}
. {
  color: #ffffff;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 4px;
  top: 11px;
  width: 14px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-90 {
  width: 25px;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.left-button {
  background: rgba(128, 80, 80, 0.51);
  border-radius: 40px 0px 0px 40px;
  width: 25px;
  height: 55px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.2 {
  color: #ffffff;
  text-align: center;
  font: 400 24px "Inter", sans-serif;
  position: absolute;
  left: 6px;
  top: 12px;
  width: 14px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
}
